<%- include("partials/header"); -%>
<h1>Edit</h1>
<form class="" action="/edit/<%=document.id%>" method="POST">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle" value="<%=document.title%>">
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"><%=document.content%></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Update</button>
</form>

<%- include("partials/footer"); -%>